div {
  display: inline-block;
  margin:10px;

}

img{
  width:300px;
  height:300px;
}

button{
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

}

.controllers{
  display: block;
  margin-top:10px;
  margin-left: 40px;
}
